@import url('./reset.css');

* {
    font-family: "Poppins";
}

:root{
    --primary-color: white;
    --secondary-color: white;
    --third-color: black;
    --fourth-color: white;
    --fifth-color: #dcdcdc;
}

.dark-mode{
    --primary-color: #121212;
    --secondary-color: gray;
    --third-color: white;
    --fourth-color: #D4D4D4;
    --fifth-color: #D4D4D4;
}

body{
    background-color: var(--primary-color);
    transition: 0.7s, ease-in-out;
}

.header {
    height: 60px;
    width: 100%;
    background-color: rgb(23, 52, 52);
}

.header__logo {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    align-self: center;
}

.header__logo-img {
    padding-top: .7%;
    object-fit: cover;
    max-width: 100%;
    height: 50px;
    margin-right: 40vw;
}

.toggle{
    font-size: xx-large;
    margin-right: 10px;
    
}

#toggle-on{
    display: none;
    color: #121212;
}

#toggle-off{
    color: white;
}

.main__list-title{
    color: var(--third-color);
}

.main__list {
    margin: 2%;
    max-width: 20%;
    height: 80vh;
}

.main__list-item {
    margin-top: 5%;
    cursor: pointer;
    transition: all .3s ease-in;
    box-shadow: 2px 2px 2px rgba(206, 203, 203, .5);
    word-break: break-all;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--third-color);
}

.main__list-item:hover {
    box-shadow: 5px 5px 2px rgba(206, 203, 203, .7);
    transform: translateY(-2px);
}

.bin-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left:350px;
}

.add-icon {
    position: absolute;
    right: 5%;
    bottom: 15%;
    background: url('../img/check.png');
    width: 30px;
    height: 30px;
}

.main__form {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 15%;
}

input {
    border: 1px solid darkcyan;
    padding: 8%;
    width: 100%;
    
    background-color: var(--fourth-color);
}

.main__error-msg {
    margin-top: 5px;
    display: block;
    color: red;
    font-size: 12px;
}

button {
    margin-top: 20px;
    cursor: pointer;
    padding: 5%;
    width: 100%;
    transition: background-color .2s ease-in;
    background-color: var(--fifth-color);
}

button:hover {
    background-color: rgb(128, 164, 159);
    color: #fff;
}

.remove {
    text-decoration: line-through;
}

